.form-container {
    text-align: center;
    background-color: #ffffff; /* Optional: Add a background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input:focus {
    outline: none;
    border-color: #007bff; /* Change focus color as needed */
}

#user, #pass {
    margin-bottom: 16px; /* Optional: Adjust the space between inputs */
}

// meow

$primary-color: #3498db; 

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url('https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?cs=srgb&dl=pexels-ella-olsson-1640772.jpg&fm=jpg') center center fixed;
    background-size: cover;
  }

.form-container {
  min-width: 400px;
  margin: 50px auto;
  text-align: center;

  h2 {
    font-size: 28px;
    color: $primary-color;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .submit {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  button {
    background-color: transparent;
    color: $primary-color;
    border: none;
    cursor: pointer;
  }

  p {
    color: red;
    margin-top: 10px;
  }
}

