.form-container {
    text-align: center;
    background-color: #ffffff; /* Optional: Add a background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input:focus {
    outline: none;
    border-color: #007bff; /* Change focus color as needed */
}

#user, #pass {
    margin-bottom: 16px; /* Optional: Adjust the space between inputs */
}

// Styling

$primary-color: #3498db; 

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url('https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?cs=srgb&dl=pexels-ella-olsson-1640772.jpg&fm=jpg') center center fixed;
    background-size: cover;
  }

.form-container {
  min-width: 400px;
  margin: 50px auto;
  text-align: center;

  h2 {
    font-size: 28px;
    color: $primary-color;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .submit {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  button {
    background-color: transparent;
    color: $primary-color;
    border: none;
    cursor: pointer;
  }

  p {
    color: red;
    margin-top: 10px;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  overflow: hidden;
}
nav button {
  background-color:#333;
  float: left;
  display: block;
  color: white;
  border: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}
  nav button:hover {
  background-color: #ddd;
  color: black;
}

nav button.active {
  background-color: #4CAF50;
  color: white;
}
.headnav {
  background-color: #333;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
  left: 50%;
}

.headnav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.headnav a:hover {
  color: black;
}

header.site-header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: left;
}